@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Playfair+Display:ital,wght@0,400;0,500;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Paleta Artista: Monocromática */
  --primary: 10 10% 10%;    /* Negro suave para textos */
  --secondary: 100 100% 0%;   /* Blanco puro */
  --accent: 0 0% 40%;       /* Gris medio */
}

@layer base {
  html { scroll-behavior: smooth; }
  
  body {
    @apply bg-white text-gray-800 font-sans antialiased;
    font-family: 'Lato', sans-serif;
  }

  /* Títulos con fuente Serif elegante */
  h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
    @apply font-normal tracking-wide;
  }
}